#a {
    color: rgb(208, 255, 0);
    font-size: 40px;
}

#b {
    color: rgb(51, 51, 54);
    font-size: 30px;
}

.italicolinha {
    font-style: italic;
    border-bottom: salmon;
}

#idUm {
      background: blue;
}
#idDois {
      background: red;
}
#idTres {
      background: green;
}
#idQuatro {
      background: yellow;
}
